body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
}

.content {
    margin-left: 270px;
    padding: 20px;
    flex-grow: 1; /* Allow content area to take remaining space */
    background-color: #ffffff; /* Light background color for content */
    min-height: 100vh; /* Ensure content covers full height */
}

.sidebar {
    width: 250px;
    background: #333;
    color: white;
    height: 100vh;
    padding: 20px;
    position: fixed;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 0;
}

.sidebar a:hover {
    background: #555;
}

.logo {
    display: block;
    width: 150px; /* Adjust width */
    height: auto; /* Keep aspect ratio */
    margin-bottom: 10px;
}

iframe {
    max-width: 100%;
    height: 400px; /* You can change the height as needed */
    border: none;
}



h1, h2, p {
    margin: 20px;
}

/* Default font size */
h1 {
    font-size: 32px; /* Default size */
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

/* Media Queries for smaller screens */
@media (max-width: 1200px) {
    h1 {
        font-size: 28px; /* Smaller font size for large tablets or small desktops */
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px; /* For tablets and smaller */
    }
    h2 {
        font-size: 18px;
    }
    p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 20px; /* For mobile devices */
    }
    h2 {
        font-size: 16px;
    }
    p {
        font-size: 12px;
    }
}